
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sticky Navigation Bar</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="{% static 'images/betlehem_logo.png' %}" alt="Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="home" target ="_self">Home</a></li>
                    <li><a href="events" target ="_self">Events</a></li>
                    <li><a href="tentang-kami" target ="_self">Tentang Kami</a></li>
                    <li><a href="hubungi-kami" target ="_self" id="current">Hubungi Kami</a></li>
                </ul>
            </nav>
            <div class="button">
                <a href="#">Ibadah Online</a>
            </div>
        </div>
    </header>
    <main>
        
    </main>
</body>
</html>
