
{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main/main-style.css' %}">
    
{% endblock head %}

{% block body %}
    <header>
        <div class="container">
            <div class="logo">
                <img src="{% static 'images/betlehem_logo.png' %}" alt="Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="home" target ="_self">Home</a></li>
                    <li><a href="events" target ="_self">Events</a></li>
                    <li><a href="tentang-kami" target ="_self">Tentang Kami</a></li>
                    <li><a href="hubungi-kami" target ="_self" id="current">Hubungi Kami</a></li>
                </ul>
            </nav>
            <div class="button">
                <a href="https://www.youtube.com/playlist?list=PLd6u2_y53BpLUFxYbPyWumG7l8U9DqXPo" target="_blank">Ibadah Online</a>
            </div>
        </div>
    </header>
    <main>
        
    </main>
{% endblock body %}
